.m-0 {
  margin: 0rem !important;
}

.my-0 {
  margin: 0rem 0 !important;
}

.mx-0 {
  margin: 0 0rem !important;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.p-0 {
  padding: 0rem !important;
}

.py-0 {
  padding: 0rem 0 !important;
}

.px-0 {
  padding: 0 0rem !important;
}

.pt-0 {
  padding-top: 0rem !important;
}

.pb-0 {
  padding-bottom: 0rem !important;
}

.pl-0 {
  padding-left: 0rem !important;
}

.pr-0 {
  padding-right: 0rem !important;
}

.m-1 {
  margin: 1rem !important;
}

.my-1 {
  margin: 1rem 0 !important;
}

.mx-1 {
  margin: 0 1rem !important;
}

.mt-1 {
  margin-top: 1rem !important;
}

.mb-1 {
  margin-bottom: 1rem !important;
}

.ml-1 {
  margin-left: 1rem !important;
}

.mr-1 {
  margin-right: 1rem !important;
}

.p-1 {
  padding: 1rem !important;
}

.py-1 {
  padding: 1rem 0 !important;
}

.px-1 {
  padding: 0 1rem !important;
}

.pt-1 {
  padding-top: 1rem !important;
}

.pb-1 {
  padding-bottom: 1rem !important;
}

.pl-1 {
  padding-left: 1rem !important;
}

.pr-1 {
  padding-right: 1rem !important;
}

.m-2 {
  margin: 2rem !important;
}

.my-2 {
  margin: 2rem 0 !important;
}

.mx-2 {
  margin: 0 2rem !important;
}

.mt-2 {
  margin-top: 2rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.ml-2 {
  margin-left: 2rem !important;
}

.mr-2 {
  margin-right: 2rem !important;
}

.p-2 {
  padding: 2rem !important;
}

.py-2 {
  padding: 2rem 0 !important;
}

.px-2 {
  padding: 0 2rem !important;
}

.pt-2 {
  padding-top: 2rem !important;
}

.pb-2 {
  padding-bottom: 2rem !important;
}

.pl-2 {
  padding-left: 2rem !important;
}

.pr-2 {
  padding-right: 2rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.my-3 {
  margin: 3rem 0 !important;
}

.mx-3 {
  margin: 0 3rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.p-3 {
  padding: 3rem !important;
}

.py-3 {
  padding: 3rem 0 !important;
}

.px-3 {
  padding: 0 3rem !important;
}

.pt-3 {
  padding-top: 3rem !important;
}

.pb-3 {
  padding-bottom: 3rem !important;
}

.pl-3 {
  padding-left: 3rem !important;
}

.pr-3 {
  padding-right: 3rem !important;
}

.m-4 {
  margin: 4rem !important;
}

.my-4 {
  margin: 4rem 0 !important;
}

.mx-4 {
  margin: 0 4rem !important;
}

.mt-4 {
  margin-top: 4rem !important;
}

.mb-4 {
  margin-bottom: 4rem !important;
}

.ml-4 {
  margin-left: 4rem !important;
}

.mr-4 {
  margin-right: 4rem !important;
}

.p-4 {
  padding: 4rem !important;
}

.py-4 {
  padding: 4rem 0 !important;
}

.px-4 {
  padding: 0 4rem !important;
}

.pt-4 {
  padding-top: 4rem !important;
}

.pb-4 {
  padding-bottom: 4rem !important;
}

.pl-4 {
  padding-left: 4rem !important;
}

.pr-4 {
  padding-right: 4rem !important;
}

.m-5 {
  margin: 5rem !important;
}

.my-5 {
  margin: 5rem 0 !important;
}

.mx-5 {
  margin: 0 5rem !important;
}

.mt-5 {
  margin-top: 5rem !important;
}

.mb-5 {
  margin-bottom: 5rem !important;
}

.ml-5 {
  margin-left: 5rem !important;
}

.mr-5 {
  margin-right: 5rem !important;
}

.p-5 {
  padding: 5rem !important;
}

.py-5 {
  padding: 5rem 0 !important;
}

.px-5 {
  padding: 0 5rem !important;
}

.pt-5 {
  padding-top: 5rem !important;
}

.pb-5 {
  padding-bottom: 5rem !important;
}

.pl-5 {
  padding-left: 5rem !important;
}

.pr-5 {
  padding-right: 5rem !important;
}

hlist {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  font-size: calc(1.2rem + 1.5vw);
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.feather {
  max-width: 1rem;
  max-height: 1rem;
}

.socials__items {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__items i {
  color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 20px;
  margin-right: 10px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.socials__items i:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__items i:hover {
  border-radius: 0;
}

.socials__items a {
  text-decoration: none;
}

.fa-facebook {
  background: #3b5998;
}

.fa-twitter {
  background: #00aced;
}

.fa-instagram {
  background: #cb2027;
}

.btn, .btn--primary, .btn--secondary, .btn--outline-primary, .btn--outline-secondary {
  padding: 10px;
}

.btn--primary {
  color: white;
  background-color: #1eafed;
  border-color: #1eafed;
}

.btn--primary:hover {
  background-color: #4dc0f1;
}

.btn--primary:focus, .btn--primary.focus {
  background-color: #1091c8;
}

.btn--primary.disabled:focus, .btn--primary.disabled.focus, .btn--primary:disabled:focus, .btn--primary:disabled.focus {
  background-color: #7cd1f5;
}

.btn--primary.disabled:hover, .btn--primary:disabled:hover {
  background-color: #7cd1f5;
}

.btn--secondary {
  color: white;
  background-color: #000;
  border-color: #000;
}

.btn--secondary:hover {
  background-color: #1a1a1a;
}

.btn--secondary:focus, .btn--secondary.focus {
  background-color: black;
}

.btn--secondary.disabled:focus, .btn--secondary.disabled.focus, .btn--secondary:disabled:focus, .btn--secondary:disabled.focus {
  background-color: #333333;
}

.btn--secondary.disabled:hover, .btn--secondary:disabled:hover {
  background-color: #333333;
}

.btn--outline-primary {
  color: #1eafed;
  background-image: none;
  background-color: white;
  border-color: #1eafed;
}

.btn--outline-primary:hover {
  color: #fff;
  background-color: #1eafed;
  border-color: #1eafed;
}

.btn--outline-primary:focus, .btn--outline-primary.focus {
  color: #fff;
  background-color: #1eafed;
  border-color: #1eafed;
}

.btn--outline-primary:active, .btn--outline-primary.active,
.open > .btn--outline-primary.dropdown-toggle {
  color: #fff;
  background-color: #1eafed;
  border-color: #1eafed;
}

.btn--outline-primary:active:hover, .btn--outline-primary:active:focus, .btn--outline-primary:active.focus, .btn--outline-primary.active:hover, .btn--outline-primary.active:focus, .btn--outline-primary.active.focus,
.open > .btn--outline-primary.dropdown-toggle:hover,
.open > .btn--outline-primary.dropdown-toggle:focus,
.open > .btn--outline-primary.dropdown-toggle.focus {
  color: #fff;
  background-color: #0d79a7;
  border-color: #0a5e81;
}

.btn--outline-primary.disabled:focus, .btn--outline-primary.disabled.focus, .btn--outline-primary:disabled:focus, .btn--outline-primary:disabled.focus {
  border-color: #7cd1f5;
}

.btn--outline-primary.disabled:hover, .btn--outline-primary:disabled:hover {
  border-color: #7cd1f5;
}

.btn--outline-secondary {
  color: #000;
  background-image: none;
  background-color: white;
  border-color: #000;
}

.btn--outline-secondary:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn--outline-secondary:focus, .btn--outline-secondary.focus {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn--outline-secondary:active, .btn--outline-secondary.active,
.open > .btn--outline-secondary.dropdown-toggle {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn--outline-secondary:active:hover, .btn--outline-secondary:active:focus, .btn--outline-secondary:active.focus, .btn--outline-secondary.active:hover, .btn--outline-secondary.active:focus, .btn--outline-secondary.active.focus,
.open > .btn--outline-secondary.dropdown-toggle:hover,
.open > .btn--outline-secondary.dropdown-toggle:focus,
.open > .btn--outline-secondary.dropdown-toggle.focus {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn--outline-secondary.disabled:focus, .btn--outline-secondary.disabled.focus, .btn--outline-secondary:disabled:focus, .btn--outline-secondary:disabled.focus {
  border-color: #333333;
}

.btn--outline-secondary.disabled:hover, .btn--outline-secondary:disabled:hover {
  border-color: #333333;
}

.btn--rounded {
  border-radius: 10px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Playfair Display", serif;
}

body {
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
}

ul {
  list-style-type: none;
}

hr {
  width: 100%;
  margin-bottom: 30px;
}

i {
  font-size: 1rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #ffffff;
  width: 100%;
  min-height: 100vh;
}

.wrapper .header-mobile {
  display: none;
  position: fixed;
  z-index: 10000;
  background: url("/assets/img/vinyl_surface_mobile.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  width: 100%;
}

.wrapper__hamburger {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 30px;
}

.wrapper__hamburger * {
  width: 30px;
  height: 30px;
  max-width: 30px;
  max-height: 30px;
  color: #999999;
}

@media (max-width: 992px) {
  .wrapper__hamburger {
    display: block;
  }
}

.wrapper__header {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
}

.wrapper__main {
  padding: 50px 30px;
  -ms-flex-preferred-size: 52%;
      flex-basis: 52%;
}

.wrapper__aside {
  -ms-flex-preferred-size: 23%;
      flex-basis: 23%;
  background-color: #fafafa;
}

.header {
  background: url("/assets/img/vinyl_surface_desktop.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: bottom;
  border-right: 1px solid #e6e6e6;
  color: #fff;
}

.header__container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  color: #fff;
  top: 0;
}

.header__close {
  min-width: 30px;
  min-height: 30px;
  position: absolute;
  cursor: pointer;
  top: 25px;
  right: 25px;
}

.header__categories {
  margin-top: 70px;
  margin-left: 20px;
  margin-right: 20px;
}

@media (max-width: 1200px) {
  .header__categories {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 0;
  }
}

@media (max-width: 992px) {
  .header__categories {
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 70px;
}

@media (min-width: 768px) and (max-width: 992px) {
  .header__logo {
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.header__logo .logo__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

.header__logo .logo__container .logo__title {
  display: block;
  font-size: calc(0.5rem + 2vw);
  font-family: "Freckle Face", sans-serif;
  font-weight: 100;
}

@media (max-width: 992px) {
  .header__logo .logo__container .logo__title {
    font-size: 40px;
  }
}

.header__logo .logo__container img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.header__logo .logo__container .logo__desc {
  margin-top: 15px;
  color: #f1f1f1;
  font-weight: 100;
  font-style: italic;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
}

.categories__items {
  list-style-type: none;
}

.categories__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories__name h4 {
  font-size: 20px;
  line-height: 2;
  margin-left: 10px;
}

@media (max-width: 1200px) {
  .categories__posts-count {
    display: none;
  }
}

@media (max-width: 992px) {
  .categories__posts-count {
    display: block;
  }
}

.categories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
  margin-top: 15px;
}

.categories__item h4 {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
  line-height: 1.3rem;
}

@media (max-width: 1200px) {
  .categories__item h4 {
    line-height: 1.5rem;
  }
}

.categories__item h4:before, .categories__item h4:after {
  content: '';
  position: absolute;
  bottom: -5px;
  width: 0px;
  height: 1.5px;
  margin: 2px 0 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  opacity: 0;
  background-color: #fff;
}

.categories__item h4:before {
  left: 50%;
}

.categories__item h4:after {
  right: 48%;
}

.categories__item h4:hover {
  cursor: pointer;
}

.categories__item h4:hover:before, .categories__item h4:hover:after {
  width: 50%;
  opacity: 1;
}

.about__container {
  position: absolute;
  bottom: 10px;
  width: 100%;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

.about__item {
  margin-right: 5px;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.article--mini .article__title {
  font-size: 1.2rem;
}

.article--mini .article__image {
  max-width: 100px;
  max-height: 100px;
  padding: 10px;
}

.article--mini .article__image img {
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  min-width: 80px;
}

.article__title {
  color: #494949;
}

.article__image {
  max-width: 180px;
  max-height: 180px;
  padding: 20px;
}

.article__image img {
  border-radius: 0;
  -webkit-box-shadow: 1px 1px 8px 1px #9a9a9a;
  box-shadow: 1px 1px 8px 1px #9a9a9a;
  min-width: 140px;
}

.article__info-icon {
  margin-right: 5px;
  width: 50px;
}

.article__info-label {
  font-size: 0.9rem;
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.article__info li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 10px 10px 0;
}

@media (max-width: 1300px) {
  .article__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px;
  }
  .article__info li {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .article__info {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .article__info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 10px 10px 10px 0;
  }
}

@media (max-width: 660px) {
  .article__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .article__info li {
    margin: 0;
  }
}

.article__info--stack {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.article__info--stack li {
  margin: 0;
}

.article__abbrev {
  text-align: justify;
  margin: 10px 0 20px 0;
  font-style: italic;
}

.article__read-more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.aside {
  padding-left: 30px;
  padding-right: 30px;
}

.aside .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 40px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.aside .search__input {
  padding: 10px 5px;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  border: 2px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
}

.aside .search__input::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

.aside .search__input:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.aside .search__input::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.aside .search__input::placeholder {
  color: #000;
  opacity: 1;
}

.aside .search__input:-ms-input-placeholder {
  color: #000;
}

.aside .search__input::-ms-input-placeholder {
  color: #000;
}

.aside .tags-cloud__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 150px;
  -ms-flex-line-pack: space-evenly;
      align-content: space-evenly;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1200px) {
  .aside .tags-cloud__items {
    min-height: 200px;
  }
}

@media (max-width: 768px) {
  .aside .tags-cloud__items {
    min-height: 100px;
  }
}

.aside .tags-cloud__item {
  margin-top: 5px;
  margin-bottom: 5px;
}

.aside .author {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aside .author__img-container {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside .author__img-container img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.aside .author__about {
  margin-top: 30px;
  text-align: justify;
}

.aside .archive__items {
  padding-left: 10px;
}

.aside .archive__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e1e1e1;
}

.aside .notify__form {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside .notify__input {
  padding: 10px 5px;
  border: 2px solid #000;
  background-color: rgba(0, 0, 0, 0.1);
  color: #000;
}

.aside .notify__input::-webkit-input-placeholder {
  color: #000;
  opacity: 1;
}

.aside .notify__input:-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.aside .notify__input::-ms-input-placeholder {
  color: #000;
  opacity: 1;
}

.aside .notify__input::placeholder {
  color: #000;
  opacity: 1;
}

.aside .notify__input:-ms-input-placeholder {
  color: #000;
}

.aside .notify__input::-ms-input-placeholder {
  color: #000;
}

.aside .notify__send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-title {
  display: block;
  width: 100%;
  margin-top: 30px;
}

@media (max-width: 992px) {
  .wrapper {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .wrapper__header {
    display: none;
  }
  .wrapper__main {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .wrapper__aside {
    -ms-flex-preferred-size: 30%;
        flex-basis: 30%;
  }
}

@media (max-width: 768px) {
  .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .wrapper__header {
    display: none;
  }
  .wrapper__main {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .wrapper__aside {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}
/*# sourceMappingURL=main.css.map */