$bg-color: #ffffff;
$header-bg-color: #ffffff;
$aside-bg-color: #fafafa;
$primary-color: #1eafed;
$secondary-color: #000;
$font-stack: 'Playfair Display', serif;
$logo-stack: 'Freckle Face', sans-serif;
